:root{
    --bg-primary: rgb(70,96,80);
    /* --bg-primary-light: rgba(70,96,80, .2); */
    --bg-primary-light: rgba(70,96,80, .1);
    --bg-primary-light-x2: rgba(70,96,80, .3);
    --bg-primary-light-medium: rgba(70,96,80, .5);
    --danger: rgba(255, 25, 20);
    --danger-light: rgba(255, 25, 20, .3);
    --danger-light-medium: rgba(255, 25, 20, .5);
    --text-primary: black;
    --text-primary-two: white;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

button, .button{
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .3);
    background: var(--bg-primary);
    color: var(--text-primary-two);
    cursor: pointer;
    border: 2px solid var(--bg-primary);
}

button:hover, .button:hover{
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}

button:hover, .button:hover,
button.transparent{
    background: transparent;
    color: var(--bg-primary);
    border: 2px solid var(--bg-primary);
}

button.non-bordered{
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding-bottom: 20px;
}

button.active-button, button.active-btn{
    border-bottom: 2px solid var(--bg-primary);
}

.half-width{
    width: 48%;
}


.full-width{
    width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    padding: 5px;
    position: relative;
    background: #FCFEFF;

}

.paid-container,
.payment-approve-container,
.background-image-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.lottie-animation{
    width: 60px;
}

.payment-response-container h4{
    margin-left: 10px;
}

.paid-container,
.payment-approve-container{
    z-index: 999;
}

.extra-link{
    color: #55387b;
    font-weight: 500;
}

.background-image-container img{
    opacity: 0.2;
    width: 100%;
    transform: rotateZ(-45deg);
}

.paid-container img{
    opacity: 0.5;
    max-width: 400px;
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
}

.payment-approve-container img{
    opacity: 0.5;
    max-width: 400px;
}

.main-body{
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 30px 20px;
}



.details:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 30px;

}

.details:not(:first-child){
    padding-top: 30px;
}

.main-body .invoice-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.invoice-details .bussiness-logo img{

    max-height: 70px;

    
}

.company-details{
    margin-top: 20px;
}

.company-details .inner-details a{
    margin-top: 10px;
    color: var(--bg-primary);
}

.details-text{
    margin-top: 20px;
}

.invoice-table{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

table, tr, td, th{
    border-collapse: collapse;
}

td, th{
    padding: 10px 0px;
    text-align: center;
}

th{
    font-size: 0.9rem;
}

.invoice-table thead tr:not(:nth-child(even)),
.invoice-table tfoot tr:not(:nth-child(even)){
    background: var(--bg-primary-light);

}

.invoice-table tbody tr:nth-child(even){
    background: var(--bg-primary-light);

}

th:nth-child(2),
td:nth-child(2){
    max-width: 100px;
    text-align: left;

}

tr th:first-child{
    max-width: 30px;
}

td{
    font-size: 0.8rem;
}

.form-change-btn{
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}

.form-inner-title{
    margin-bottom: 15px;
}

.payment-chosen-option .bank-transfer .input-form-image{
    width: 100%;
    margin-top: 20px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bg-primary-light);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.option-container{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
}

.active-option{
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    z-index: 1;
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
    -ms-transition: 0.7s ease all;
    -o-transition: 0.7s ease all;
}


.input-form-image .icon{
    font-size: 1.5rem;
    color: var(--bg-primary-light-medium);

}

.input-form-image input{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.action-btn{
    padding: 13px 20px;
}

.action-btn .icon{
    margin-left: 5px;
}

button[type="submit"]{
    padding: 15px 20px;
    z-index: 1;

}

.upload-btn{
    margin-top: 20px;
}

.bank-transfer h4{
    margin-top: 20px;
}

.bank-transfer p{
    margin-top: 10px;
    color: var(--bg-primary);
}

.bank-transfer p b{
    font-weight: 600;
}

.bank-transfer ul{
    padding-left: 25px;
}

.card-payment{
    margin-top: 20px;
}

.form-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;

}

.form-content label{
    color: rgba(0, 0, 0, .7);
}

.form-content input,
.form-content textarea{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--bg-primary-light-x2);
    background: transparent;
    padding: 0px 10px;
    margin-top: 10px;
    outline: none;

}

.form-content input{
    height: 45px;
}

.form-content textarea{
    font-family: poppins;
    padding: 10px;
    min-height: 150px;

}

.form-content input:focus{
    border: 2px solid var(--bg-primary-light-medium);
    
}

.form-content .input-err, .form-content .input-err:focus{
    border: 2px solid var(--danger-light);
    

}

.form-content .input-err::placeholder, .form-content .input-err:-moz-placeholder{
    color: var(--bg-primary-light);
}

.form-content  .label-err{
    color: var(--danger-light-medium);

}

.form-content .form-err{
    font-size: 0.7rem;
    color: var(--danger);
    margin-top: 10px;
    display: none;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}

.form-content .shown-err{
    display: block;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}


@media print {
   .main-body{
    background: transparent;
   }

    .invoice-table thead tr:not(:nth-child(even)){
        background: transparent;

    }

    table, tr, td, th{
        border-top: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    table tfoot{
        display: none;
    }

    .invoice-table tbody tr:nth-child(even){
        background: transparent;

    }
}